db:
  image: mysql:5.5
  environment:
    MYSQL_ROOT_PASSWORD: example
    MYSQL_DATABASE: wordpress
    MYSQL_USER: wordpress
    MYSQL_PASSWWORD: wordpress

wp:
  build: .
  links:
    - db:mysql
  environment:
    WP_URL: http://cli.dev
    WP_ADMIN_USER: admin
    WP_ADMIN_PASSWORD: admin
    WP_ADMIN_EMAIL: admin@cli.dev
    GH_PLUGINS: |
      WP-API/WP-API
